<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/Books">
        BOOKS
      </a>
      <a class="navbar-brand" href="/Books/new">
        ADD BOOKS
      </a>
    </div>
  </div>
</nav>
